<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhej789.softwareengineering.mapper.AdminMapper_gyb">

    <select id="getInfoID" resultType="com.hhej789.softwareengineering.bean.Info">
        select * from Info where info_id=#{info_id}
    </select>

</mapper>